<!-- Services Section -->
<section id="call" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Important Date</h2>
<!--                 <h3 class="section-subheading">TBD</h3> -->
            </div>
        </div>
        <div class="row container">
            <p class="large"> 
                <font size='5'>
                    <ul>
                        <!--<li>Workshop paper submission: <span style="text-decoration:line-through;">August 10</span> -> August 5, 2022</li> -->
                        <!-- <li>Workshop paper submission deadline: <span style="text-decoration:line-through;">July 22</span> -> July 16, 2026</li> -->
                        <li>Workshop paper submission deadline: July 16, 2026</li>
                        <li>Workshop paper notifications date: Aug 06, 2026</li>
                        <li>Workshop camera-ready paper submission date: Aug 20, 2026</li>
                        <li>Please note: The submission deadline is at 11:59 p.m. of the stated date <a href="https://www.timeanddate.com/time/zones/aoe">Anywhere on Earth</a></li>
                    </ul>
                </font>
            </p>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Submission Page</h2>
            </div>
        </div>
        <div class="row container">
            
            
            <p class="large"> 
                Submissions are made via <a href="https://openreview.net/group?id=acmmm.org/ACMMM/2026/Workshop">Link</a>.
            </p>
        
            <!--<p class="large"> 
                Submission link is comming soon.
            </p>-->
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Paper Format</h2>
            </div>
        </div>
        <div class="row container">
            <p class="large"> 
                Submitted papers (.pdf format) must use the ACM Article Template. Please remember to add Concepts and Keywords <a href="https://www.acm.org/publications/proceedings-template">Link</a>
            </p>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Length</h2>
            </div>
        </div>
        <div class="row container">
            <p class="large"> 
                The HUMA workshop will welcome two kinds of submissions:<br/>
                <ul>
                    <li>Research papers which can be 4 to 8 pages. Up to two additional pages may be added for references. The reference pages must only contain references. Optionally, you may upload supplementary material that complements your submission (100Mb limit).</li> 
                    <li>Demo papers which can be 2 pages.</li>
                </ul>
            </p>
            <p>More submission details: <a href="/submission">Link</a></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Reviewing Process</h2>
            </div>
        </div>
        <div class="row container">
            <p class="large"> 
                Paper submissions must conform with the “double-blind” review 
                policy. All papers will be peer-reviewed by experts in the field, they will receive at least three reviews. Acceptance will be based on relevance to the workshop, 
                scientific novelty, and technical quality. The workshop papers will be published in the ACM Digital Library.
            </p>
        </div>
    </div>
</section>
