<!-- Navigation -->
<nav class="navbar navbar-default navbar-default-color navbar-fixed-top">
    <div class="container">
                    <!-- <a class="navbar-brand"><img src="./css/2022_style/img/logo-mini.jpg" style="margin-top:-15px" height="50px" alt="icon-about"></a> -->
       
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                 <li> 
                    <a class="navbar-brand"><img src="./css/2022_style/img/logo.jpg" style="margin-top:-15px" height="70px" alt="icon-about"></a>
                    <!-- <a class="navbar-brand"><img src="./css/2022_style/img/call4papers.jpg" style="margin-top:-15px" height="70px" alt="icon-about"></a> -->
                </li>
                <li>
                    <a class="page-scroll" href="#introduction" style="margin-top:-15px">Introduction</a>
                </li>
                <li>
                    <a href="/call"style="margin-top:-15px">Call for Papers</a>
                </li>
                <li>
                    <a href="/publications"style="margin-top:-15px">Publications</a>
                </li>
                <li>
                    <a href="/programs"style="margin-top:-15px">Programs</a>
                </li>
                <li>
                    <a href="/speakers_info"style="margin-top:-15px">Speakers</a>
                </li>
                <li>
                    <a href="/organizers_info"style="margin-top:-15px">Organizers</a>
                </li>
                <li>
                    <a href="/submission"style="margin-top:-15px">Submission</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

