<!-- Services Section -->
    <section id="introduction" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Introduction</h2>
                </div>
            </div>
            <div class="row container">
                <!-- <p>Topic; <a href="/2016">Link to 2016</a> 
                </p> -->
                <!-- <h3>Overview</h3> -->
                <p class="large">
                    Human-centric multimedia analysis is one of the fundamental problems in multimedia understanding. It is a very challenging problem that involves multiple topics such as face recognition, human parsing, human pose estimation, human action detection, human-object interaction, person tracking, person re-identification, and so on. Today, ubiquitous multimedia sensors and large-scale computing infrastructures are producing at a rapid velocity a wide variety of big multi-modality data for human-centric analysis, which provides rich knowledge to tackle these challenges. Researchers have striven to push the limits of human-centric multimedia analysis in various applications, such as intelligent surveillance, retailing, fashion design, and services. Therefore, the purpose of this workshop is to: 
                    1) bring together the state-of-the-art research on human-centric multimedia analysis; 
                    2) call for a coordinated effort to understand the opportunities and challenges emerging in human-centric multimedia analysis; 
                    3) identify key tasks and evaluate the state-of-the-art methods; 
                    4) showcase innovative methodologies and ideas; 
                    5) introduce interesting real-world human-centric multimedia analysis systems or applications; and 
                    6) propose new real-world datasets and discuss future directions. 
                    We believe this workshop will offer a timely collection of research updates to benefit researchers and practitioners in the broad multimedia communities. To this end, we solicit original research and survey papers in (but not limited to) the following topics:
                    <font size="4">
                    <ul>
                    <li>Face detection and recognition, face anti-spoofing, face landmark detection and parsing.</li>
                    <li>Human detection, pose estimation, human parsing, and pose tracking.</li>
                    <li>Human 3D shape estimation and reconstruction.</li>
                    <li>Human gait recognition, person re-identification and person tracking.</li>
                    <li>Human action recognition and detection.</li>
                    <li>Human activity recognition using non-visual sensors.</li>
                    <li>Human-computer interaction / Human-object interaction.</li>
                    <li>Multimedia event detection.</li>
                    <li>Anomaly event detection.</li>
                    <li>Human crowd analysis.</li>
                    <li>Human-centric multimedia content generation.</li>
                    <li>Human-centric multi-agent system.</li>
                    <li>Human-centric large model.</li>
                    </ul>
                    </font>
                </p>
                <br>
            </div>
        </div>
    </section>
