<!-- Services Section -->
    <section id="news" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">News</h2>
                </div>
            </div>
            <div class="row container">
                <font size='4'>
                <p class="large">
<!--                     <strong>2021/10/21:</strong>  The slides of the keynote-talk are uploaded, please check on this page: <a href="/speakers_info">Link</a></br> -->
                   <!--  <strong>2021/10/14:</strong>  The full technical program is realeased. <a href="/programs">Link</a></br> -->
                    <!--  <strong>2021/10/14:</strong>  Our workshop will be held in <strong>Langbo Room B, The Langbo Chengdu, in The Unbound Collection by Hyatt</strong>. Online Zoom Meeting Room ID: <strong>864 1291 4191</strong></br>
                    <strong>2021/10/10:</strong>  We invited Prof. Yihong Gong, Prof. Junwei Han, and Dr. Chuang Gan as Keynote Speaker. <a href="/speakers_info">Link</a></br>
                    <strong>2021/08/03:</strong>  Excellent papers will be recommended to <strong>ACM TOMM Special Issue</strong></br>
                    <strong>2021/08/03:</strong>  The Workshop paper submission deadline is extended to <strong>Aug. 17, 2021</strong> <a href="/call">Link</a></br>
                    <strong>2021/05/15:</strong>  The Workshop paper submission deadline is <span style="text-decoration:line-through;"><strong>Aug. 10, 2021</span></strong> <a href="/call">Link</a></br>
                    <strong>2021/05/15:</strong>  Paper submission details is available <a href="/submission">Link</a></br>
                    <strong>2022/05/05:</strong>  The website is available</br>-->
                    <strong>2026/03/25:</strong>  The website is established</br>
                    <strong>2026/04/13:</strong>  Important updates regarding the on-site presentation policy and Open Access have been added to the <a href="/call">Call for Papers</a> section.</br>
                </p>
                </font>
            </div>
        </div>
    </section>
