<!DOCTYPE html>
<html>
    <style type="text/css">
        /*INCLUDE MAIN CSS FILE*/
        {% capture criticalcss %}
          {% include /2022_css/critical.scss %}
        {% endcapture %}
        {{ criticalcss | scssify }}
    </style>
    {% include 2022_data/js.html %}
    {% include 2022_data/head.html %}
    <body id="page-top" class="index">

        {% include 2022_data/header-home.html %}

        <!-- Header -->
        <header>
            <div class="container">
                <div class="intro-text">
                    <div class="intro-heading" style="text-transform: capitalize;">The 6th International Workshop on Human-centric Multimedia Analysis<br></div>
                    <div class="intro-lead-in">Rio de Janeiro, Brazil — 10-14 November 2026</div>
                    <div class="intro-lead-in"></div>
                    <a href="https://2026.acmmm.org/" class="page-scroll btn btn-xl">View on ACM MM 2026</a>
                </div>
            </div>
        </header>
        {% include 2022_data/news.html %}
        {% include 2022_data/intro.html %}
        {% include 2022_data/organizers.html %}
    </body>
    {% include 2022_data/footer.html %}
</html>
